
  <h4>Select the required action</h4>
<div class="center hero-unit">
  <%= link_to "Branch Registration",jb_branches_path, class: "btn btn-sm btn-primary"%>
  <%= link_to "Owner Registration",franchisemasters_path, class: "btn btn-sm btn-primary"%>
  </div>


  

