<script type="text/javascript">
     
</script>
<ul class="nav nav-tabs"  id="tabs">
  <li class="active"><a href="#select1" data-toggle="tab" id="">Daily</a></li>
  <li><a href="#select2" data-toggle="tab" id="select2" onclick=clickme("this,data1,data2")>Monthly</a></li>
</ul>  



  