<ul class="nav nav-tabs">
    <li class="active"><a href="http://localhost:3000/details/new?kpi_id=10000#">Daily</a></li>
    <li><a href="/jb_branches">Monthly </a></li>
    <li><a href="#">Quarterly</a></li>
    <li><a href="#">Yearly</a></li>
</ul>
