<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
    <script type="text/javascript">
      google.setOnLoadCallback(drawVisualization);

      function drawVisualization() {
        // Some raw data (not necessarily accurate)
        console.log(<% @details%>);
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Actual', 'Target'],
           <% @details.each do |bic| %>
          ['<%= bic.created_at.to_date.to_s %>',<%= bic.actual rescue 0 %>,<%= bic.target rescue 0%>],
          <% end %>
        ]);

        var options = {
          title : 'Monthly Coffee Production by Country',
          vAxis: {title: "Date"},
          hAxis: {title: "Actual"},
          seriesType: "bars",
            series: {1:{type: "line"}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('rentals_trend_div'));
        chart.draw(data, options);
      }
    </script> 
<div id="rentals_trend_div" style="width: 900px; height: 500px;"></div>