<h4>Branch Kpi Details</h1>

<ul class="nav nav-tabs"  id="tabs">
  <li class="active">
  	<%= link_to 'Daily',"/details/addlinkkpi?jbbranch_id=#{@jb_branch.id}&frequency=DAILY",:remote => true%>
  </li>
  <li>
  	<%= link_to 'Monthly',"/details/addlinkkpi?jbbranch_id=#{@jb_branch.id}&frequency=MONTHLY",:remote => true%>
  </li>
</ul>  
<div class="tab-content">
  <div class="tab-pane active" id="kpi-freq-content">
   <%= render :partial => 'frequency' ,:locals => {:jb_branch_id => @jb_branch.id}%>
  </div>