<h4>Edit Details</h4>
<%= render 'form' %>      
<%= link_to "Back", details_path,:class=>["btn","btn-default"] ,:id=>"backbutton"%>
<%= link_to 'Show', @detail,:class=>["btn","btn-default"] ,:id=>"backbutton" %> 
    